<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Johanna Drucker</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>E587C4ED1925BFD06B3C2A6550659957</string>
		<key>cover-image-path</key>
		<string>OEBPS/images/9780262361163.jpg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>538AFF5E7B6F675637E396109C76067F</string>
		<key>publisher-unique-id</key>
		<string>9780262361163</string>
		<key>unique-id</key>
		<integer>6964222163551609081</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Visualization and Interpretation</string>
	<key>playlistName</key>
	<string>Visualization and Interpretation</string>
</dict>
</plist>
