body {
  font-family: 'Old Standard TT', serif;
}

h1 {
  font-family: 'Old Standard TT';
  font-size: 3rem;
  font-style: bold;
  font-weight: 80;
  margin: 0;
  /* f
  line-height: 59px; */
  /* letter-spacing: 0em; */ 

}

p{
  margin: 0;
}

.usa-color{
  background-color: #8CC6D4;
  color: #8CC6D4;
}

.france-color{
  background-color: #DED9DD;
  color: #DED9DD;
}

.japan-color{
  background-color: #BAABC8;
  color: #BAABC8;
}

.mexico-color{
  background-color: #EAD971;
  color: #EAD971;
}

.usa-color-text{
 
  color: #8CC6D4;
}

.france-color-text{
  
  color: #DED9DD;
}

.japan-color-text{
  
  color: #BAABC8;
}

.mexico-color-text{
  
  color: #EAD971;
}

.up{
  height: 69vh;
}

#landing-page{
  /* position: absolute; */
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;

}



/* 
.resize{
  resize: horizontal;
  overflow: auto;
  border: 1px solid;
  display: inline-flex;
} */

/* #landing-page-left-fixed{
  position: fixed;
  display: flex;
  width: 23%;
  height: 100%;
  background-color: #efefef;
  flex-direction: column;
  border-right: 1px solid black;
  padding-top: 3%;
  padding-left: 1vw;

  z-index: 10;
} */

#landing-page-left{

  display: flex;
  /* position: fixed; */

  width: 23%;
  height: 100vh;

  background-color: #efefef;
  flex-direction: column;
  border-right: 1px solid black;

  top: 0;
  bottom: 0;

  padding-top: 3%;
  padding-left: 1vw;

  z-index: 1;

  /* visibility: hidden; */
}

#left-up{
  border-bottom: 1px solid black;
  /* padding: 5rem 3rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}


#left-down{
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

#page-title{
  display: flex;
  position: relative;
  flex-direction: column;

  justify-content: center;

  display: block;
  margin: 0 auto 0; 
  
}

#page-title-img{
  display: flex;
  width: 20%;
  height: auto;
}

.page-title-hide{
  width: 20%
}

.page-title-small{
  
  margin-top: 12%;

}

#landing-page-right{
  display: flex;
  /* position: absolute; */

  width: 74vw;
  margin-right: 1vw;
  /* margin-left: 25vw; */

  height: 100vh;
  overflow: scroll;
  flex-grow: 1;
 
  flex-direction: column;
  padding-top: 3%;
 
  border-bottom: 1px solid black;
}

#infotip{
  position: absolute;
  width: 50%;
  height: 60%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
 
  display: flex;
  flex-direction: column;
  z-index: 500;

  /* border: #8CC6D4 solid 2px; */
  visibility: hidden;

  
}

#infotip-header{
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0.5rem 1rem;
  z-index: 600;

}

#infotip-title{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* #infotip-title> * {
  padding-right: 1rem;
} */

#infotip-img{
  display: flex;
  flex-direction: row;
  height: 80%;
  gap: 2rem;
  z-index: 500;
  background-color: white;
}

#infotip-left{
  display: flex;
  justify-content: center;

  height: 100%;
  width: 80%;
}

#infotip-right{
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  width: 20%;

  gap:1rem;
}
.infoTipCropImg{
  margin-top: 0.5rem;
}

.infotip-color-wrapper{
  position: absolute;

  height: 12%;
  left: 0;
  right: 0;
  background-color: aqua;

}

#infotip-color-wrapper-top{
  top: 0;
}

#infotip-color-wrapper-bottom{
  bottom: 0;
}

#right-up{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  height: 69vh;
  bottom: 0;
  flex-shrink: 0
}

#landing-img{
  display: flex;
  padding: 5rem;
  max-width: 70%;
  height: 80%;
  display: none;
  
}

#right-down{
  /* display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
 */

  border-bottom: 1px solid black;
  display: flex;
  height: 27vh;
  flex-shrink: 0
}

.country-block{
  position: relative;
  height: 24%;
  width: 24%;
  background-color: azure;
}

.country-color-wrapper{
  display: flex;
  height: 100%;
  width: 100%;
}
.country-color-solid{
  height: 100%;
  width: 100%;
  /* position: fixed; */
}

.country-color-gradient{
  position: absolute;
  bottom: -5px;
  height: 70%;
  width: 100%;
  /* position: fixed; */

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 57.81%);
  mix-blend-mode: hard-light;
}

.country-color-gradient-reverse{
  position: absolute;
  top: -5px;
  height: 70%;
  width: 100%;
  /* position: fixed; */

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 57.81%);
  mix-blend-mode: hard-light;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.country-name{
  position: relative;

  top: -40%;

  font-size: 3.5rem;

}

/* d3 styling */

#visualization{
  /* position: absolute; */
  /* display: block; */

  /* top: 65vh;
  width: 74vw; */
  margin-left: 1vw;
  margin-right: 1vw;

  z-index: 100;
  padding-bottom: 10vh;

}
#mysvg {
  width: 100%;
  height: 1000px
}


#menu {
  display: flex;
  flex-flow: row wrap;
  gap: 4%;

  /* margin-left: 20px; */
}

.filter-section{

  /* width: 15vw; */
  gap: 1rem;
  display: flex; 
  align-items: center;

}

#filter-section-time{
 
display: flex;
gap: 1%;
width: auto;

}

select {
  width: 200px;
  padding: 3px;
  margin-right: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.legend {
  font-size: 12px;
  fill: #555;
}

.legend rect {
  fill: #aaa;
}

.title {
  font-weight: bold;
  fill: #555;
}

.axis line {
  stroke: #eee;
}

.y.axis path {
  display: none;
}

.y.axis text {
  font-size: 11px;
  fill: #777;
  font-weight: bold;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}