body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;

    cursor: url('smithsonian_logo_2.png') 10 10, auto;
/* 
    
    font-family: minion-pro, serif;
    font-weight: 500;
    font-style: normal;

    
    font-family: minion-pro, serif;
    font-weight: 500;
    font-style: italic;


    font-family: minion-pro,serif;
    font-weight: 400;
    font-style: italic; 

    /* regular */
    font-family: minion-pro,serif;
    font-weight: 400;
    font-style: normal;
}

h1{
  font-size: 2.5rem;
  margin: 0;
}

h3{
  font-weight: 400;
  margin: 0;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  font-style: italic;
  color: white;
  text-decoration: underline;
}

#container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: auto;
  
  position: fixed;
  height: 25%;

  bottom: 3vh;
  left: 3vh;

  width: 20vw;
  
  /* transform: translate(-50%, 0); */
  overflow: auto;

  z-index: 10;

  overflow: auto;

}

#img-title{
 
  overflow: auto;
  max-height: 30%;

  margin-bottom: 0.5rem;
  overflow: auto;
  height: fit-content;


}

#img-text{
  display: flexbox;
  padding-left: 1rem;
  color:white;
  overflow: auto;
  height: fit-content;
  /* position: fixed; */

  

  border-left: aliceblue solid 0.5px;
  z-index: 10;
}

.img-text-subtitle{
  display: inline;

  font-weight: 400;
  font-style: italic; 

  font-size: 1.1rem;
  margin-bottom: 1rem;

  color: #D0D7DE;
}

#logo{

  max-width: 100%;
  height: auto;

  width: 150px;

  z-index: 1;

}

#footer{
  position: fixed;

  top: 15vh;
  left: 3vw;
  z-index: 10;
  /* margin: auto auto 20px 20px; */
}

#header{
  color: white;
  position: fixed;
  top: 2vh;
  left: 3vw;
  z-index: 3;  
}

#direction {

    /* regular */
    font-family: minion-pro,serif;
    font-weight: 400;
    font-style: normal;
  
    position: fixed;
    color: white;
    font-size: 1.5rem;
    right: 3vw;
    top: 2vh;
    z-index: 3;  
  }

.direction-subtitle{

  font-weight: 400;
  font-style: italic; 

  font-size: 1.1rem;
  margin-bottom: 1rem;

}

.direction-subtitle-text{
  margin-bottom: 0.1rem;
  color: #D0D7DE;
}

#direction-search{
  margin: 0.5rem 0 1rem;
  border: #D0D7DE solid 1px;
  color:black;
}

.direction-class{

  font-size: 1.2rem;
  padding: 0 1rem 0 0;
  margin: 0;
  font-weight: 400;
  font-style: normal; 

}

.direction-class:hover{
  cursor: url('smithsonian_logo.png') 10 10, auto;
  background-color: #009cde;
  color: #ffcd00;
}

  #threejs-canvas{
    position: fixed;
    top: 2vh;
    z-index: 2;
  }
